Port 22
HostKey /etc/ssh/ssh_host_ed25519_key
AddressFamily inet
#AllowGroups ssh-users
#AllowUsers user1 user2
#AuthorizedKeys .ssh/authorized_keys .ssh/authorized_keys2
AuthenticationMethods publickey
ChallengeResponseAuthentication no
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-ripemd160-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,hmac-ripemd160,umac-128@openssh.com
PasswordAuthentication no
PermitEmptyPasswords no
# rsnapshot-ready
PermitRootLogin forced-commands-only
PubkeyAuthentication yes